/*------------------------ general */

body {
    box-shadow: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.cursive-font {
    font-family: 'Tangerine', cursive;
}

.cover-container {
    max-width: 90%;
}

.masthead-brand span {
    font-size: 1.2rem;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

a:hover {
    text-decoration: none;
}

/*------------------------ main */

.main {
    min-height: 80%;
}

/*------------------------ footer */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 50px;
    clear: both;
}

.footer p {
    padding-top: 50px;
    margin-bottom: 0;
}

/*------------------------ background colors */

.bg-brown {
    background-color: #5e3340;
}

.bg-black {
    background-color: black;
}

/*------------------------ player icons */

.icon {
    border: 5px double #fafafa;
}

.icon span {
    display: inline-block;
    height: 50%;
    width: 100%;
    margin-top: 50%;
}

.player-icon {
    background-size: cover;
    background-position: top;
    margin: 0 auto;
}

/*------------------------ leaderboard */

.leaderboard {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.leaderboard > .row {
    margin: 1rem;
}

.leaderboard > .row > p {
    display: block;
    width: 100%;
}

.leaderboard-item {
    margin: 0.4rem 0;
    padding: 0;
}

.leaderboard .small {
    font-weight: 600;
}

.leaderboard p {
    height: 100%;
    margin-bottom: 0;
    margin-top: 15px;
}

.leaderboard-icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: top;
    float: right;
    border: 1px solid #fafafa;
}

.leaderboard .current-player {
    background-color: #fafafa;
}

.leaderboard .current-player p {
    color: black;
}

/*------------------------ index page */

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 0, 0, 0.2);
    margin: 0 auto;
}

.overlay p {
    height: 100%;
    margin: 0;
    line-height: 150px;
    vertical-align: text-bottom;
    transform: rotate(-45deg);
    color: #ffa0a0;
}

.select-player .player-icon {
    width: 150px;
    height: 150px;
}

@media (min-width: 992px) {
    .index-page .select-player.container-fluid,
    .index-page .leaderboard.container-fluid {
        margin: 0 !important;
    }

    .index-page .select-player.container-fluid {
        width: 66%;
        float: left;
        padding-top: 1rem;
    }

    .index-page .leaderboard.container-fluid {
        width: 33%;
        float: right;
        margin-top: 5rem !important;
    }

    .index-page .leaderboard-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*------------------------ player page */

.player .player-icon {
    width: 200px;
    height: 200px;
}

.player-description p {
    padding: 0 1rem;
}

/*------------------------ game page */

.game-page .player-icon {
    width: 150px;
    height: 150px;
}

.game-page form {
    width: 50%;
}

.game-page .incorrect-msg {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .game-page form {
        width: 40%;
    }
}

@media (min-width: 992px) {
    .game-page form {
        width: 30%;
    }
}

/*------------------------ end page */

.end-page .player-icon {
    width: 200px;
    height: 200px;
}
