/*------------------------ general */
body {
    box-shadow: none;
}

.cover-container {
    max-width: 90%;
}

.masthead-brand span {
    font-size: 1.2rem;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

header a:hover {
    text-decoration: none;
}

/*------------------------ index */

.index-leaderboard .row {
    margin: 1rem;
}

.index-leaderboard p {
    height: 100%;
    margin-bottom: 0;
    margin-top: 15px;
}

.player-icon {
    padding: 1rem;
}

.player-icon a {
    background-size: cover;
    background-position: top;
    margin: 0 auto;
}

.player-icon span {
    display: inline-block;
    height: 50%;
    width: 100%;
    margin-top: 50%;
}

.index-players .player-icon a {
    width: 100px;
    height: 100px;
}

.index-leaderboard .player-icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: top;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.2);
    margin: 0 auto;
}

.overlay p {
    height: 100%;
    margin: 0;
    line-height: 100px;
    vertical-align: text-bottom;
    transform: rotate(-45deg);
    color: #dd9999;
}

/*------------------------ player */

.player .player-icon .icon{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: top;
    margin: 0 auto;
}

/*------------------------ game */

.leaderboard .player-icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: top;
    float: right;
}

.leaderboard .current-player {
    background-color: #fafafa;
}

.leaderboard .current-player p {
    color: black;
}

/*------------------------ end */

.end-container .player-icon {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
}
