<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- <link rel="icon" href="../../../../favicon.ico"> -->

  <title>Riddle Game - Home</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>

<body class="text-center">

  <div class="container">
    <header class="mt-3 mb-5">
      <div class="nav justify-content-center">
        <h2 class="masthead-brand"><a href="{{ url_for('index') }}">The Hobbit<span class="d-block"><small>Riddle Game</small></span></a></h2>
      </div>
    </header>

    <!-- <main role="main" class="inner cover"> -->
    <main role="main">

      {% block content %}
      {% endblock %}

    </main>

    <footer>
      <div class="inner">
        <p>&copy; Sarah Loh</p>
      </div>
    </footer>
  </div>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>