{% extends 'base.html' %} {% block content %}

<div class="end-page">

    <section class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <div class="rounded icon player-icon" style="background-image:url('{{ player.image_source }}')"></div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 text-center">
                <h4>
                    Congratulations {{ player.name }}!
                </h4>
                <p>
                    You finished the game!
                </p>
                <button class="btn btn-md btn-danger my-4 continue-game">
                    <a href="{{ url_for('index') }}">Return to home page</a>
                </button>
            </div>
    </section>

</div><!-- /.end-page -->

{% endblock %}