{% extends 'base.html' %}
{% block content %}

<div class="game-page">

    <section class="container player">
        <div class="row">
            <div class="col-12 player-name text-center">
                <h3 class="cursive-font">{{ player[0].name }}</h3>
            </div>
            <div class="col-12 text-center">
                    <a href="/player/{{ player[0].url }}" class="d-block icon player-icon rounded" style="background-image:url('{{ player[0].image_source }}')"></a>
            </div>
        </div>
    </section><!-- /.player -->

    <section class="container riddle">
        <h3>Riddle {{ riddle_number }}</h3>

        {% set lines = riddle.question.split('\n') %}
        {% for line in lines %}
        <p>{{ line }}</p>
        {% endfor %}
    </section><!-- /.riddle -->

    <hr>

    <section class="container answer">
        <form method="POST" class="w-50 mx-auto">
            <div class="form-group">
                <label for="answer">Enter your answer:</label>
                <textarea class="form-control" name="answer" id="answer" rows="1"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <p>{{ incorrect_msg }}</p>
    </section><!-- /.answer -->

    <hr>

    <section class="container leaderboard my-4">

        <h3 class="cover-heading">
            <small>Leaderboard</small>
        </h3>

        {% for player in leaderboard %}
        <div class="row">
            <div class="col-4 text-center">
                <div class="icon leaderboard-icon d-block rounded" style="background-image:url('{{ player.image_source }}')">
                    <span>{{ loop.index }}</span>
                </div>
            </div>
            <div class="col-6 text-left">
                <p>{{ player.name }}</p>
            </div>
            <div class="col-2 text-left">
                <p>({{ player.score }})</p>
            </div>
        </div>

        {% else %}
        <p class="text-center">
            No scores yet...
        </p>

        {% endfor %}

    </section>
    <!--/.leaderboard-->

</div><!-- /.game-page -->

{% endblock %}