{% extends 'base.html' %} {% block content %}

<h3>Riddle {{ riddle_number }}</h3>

{% set lines = riddle.question.split('\n') %}
{% for line in lines %}
    <p>{{ line }}</p>
{% endfor %}

<form method="POST">
    <div class="form-group">
        <label for="answer">Enter your answer:</label>
        <textarea class="form-control" name="answer" id="answer" rows="1"></textarea>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p>{{ incorrect_msg }}</p>

{% endblock %}