{% extends 'base.html' %}
{% block content %}

<div class="container index-leaderboard">

    <h3 class="cover-heading">
        <small>Leaderboard</small>
    </h3>

    <div class="row">
        {% for player in leaderboard%}

        <div class="col-2 player-icon text-center">
            <a href="/game/{{ player.url }}/{{ player.score|int +1 }}" class="d-block rounded" style="background-image:url('{{ player.image_source }}')">
                <span>{{ loop.index }}</span>
            </a>
        </div>

        {% endfor %}
    </div>
    <!--/.row-->

</div><!--/.index-leaderboard-->

<div class="container index-players">

    <h2 class="cover-heading">
        <small>Select a player</small>
    </h2>

    <div class="row">
    {% for player in players %}

        <div class="col-2 player-icon text-center">
            {% if player.active %}
            <div class="overlay">
                <p>unavailable</p>
            </div>
            <a href="#" class="d-block rounded"
                    style="background-image:url('{{ player.image_source }}')"></a>
            {% else %}
            <a href="/game/{{ player.url }}/{{ player.score|int +1 }}" class="d-block rounded" style="background-image:url('{{ player.image_source }}')">
                <span>{{ player.name }}</span>
            </a>
            {% endif %}
        </div>
    {% endfor %}
    </div><!--/.row-->

</div><!--/.players-container-->

{% endblock %}