{% extends 'base.html' %}
{% block content %}

<div class="player-page">

    <section class="container-fluid player pb-3">

        <div class="row">

            <div class="col-12 player-name text-center">
                <h3 class="cursive-font">{{ player[0].name }}</h3>
            </div>
            <div class="col-12 text-center">
                <div class="rounded icon player-icon" style="background-image:url('{{ player[0].image_source }}')"></div>
            </div>
            <div class="col-12 my-2">
                <button class="btn btn-md btn-danger my-4 continue-game">
                    <a href="/game/{{ player[0].url }}/{{ player[0].score|int + 1 }}">Continue Game</a>
                </button>
            </div>
            <div class="col-12 player-description text-center">
                <p>{{ player[0].description }}</p>
            </div>
        </div>
        <!--/.row-->

    </section><!--/.player-->

    <section class="container-fluid leaderboard bg-brown my-4">

        <h3 class="cover-heading">
            <small>Leaderboard</small>
        </h3>

        {% for player in leaderboard %}
        <div class="row">
            <div class="col-4 text-center">
                <div class="icon leaderboard-icon d-block rounded" style="background-image:url('{{ player.image_source }}')">
                    <span>{{ loop.index }}</span>
                </div>
            </div>
            <div class="col-6 text-left">
                <p>{{ player.name }}</p>
            </div>
            <div class="col-2 text-left">
                <p>({{ player.score }})</p>
            </div>
        </div>

        {% else %}
        <p class="text-center">
            No scores yet...
        </p>

        {% endfor %}

    </section>
    <!--/.leaderboard-->

</div><!-- /.player-page -->

{% endblock %}